---
---
/* 自定义样式 */
body {
  display: flex;
  min-height: 100vh;
  margin: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
.sidebar {
  width: 50%;
  background: url('/assets/avatar/background.jpg') no-repeat center center;
  background-size: cover;
}
.content {
  width: 50%;
  padding: 2em;
}
.content h1 {
  font-size: 2.5em;
}
.content h2 {
  margin-top: 2em;
}

.content a {
  color: #faf8f8; /* 这里是您想要的颜色值 */
}
